body {
    background-color: #FFCB05;
}

.type {
    border: 1px solid black;
}

.content {
    background-color: cornsilk;
    color: #3D7DCA;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.pokemonDetails {
    border: 6px dotted #003A70;
}

.details {
    text-align: justify; 
    font-size: larger;
}

.stats {
    text-align: justify;
    font-size: larger;
}