.card {
  border: 2px solid black;
  max-width: 25%;
  min-width: 25%;
  max-height: 100%;
  min-height: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  text-align: center;
}

button {
  background-color: transparent;
  border: 1px solid #2196F3;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
}

.grid-container {
  text-align: center;
  background-color: #ECECEC;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  margin-right: 1%;
  margin-left: 1%;
  margin: 0 auto;
}

.Poison {
  background-color: #682A68;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Grass {
  background-color: #4E8234;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Fire {
  background-color: #9C531F;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Water {
  background-color: #445E9C;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Bug {
  background-color: #6D7815;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Flying {
  background-color: #6D5E9C;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Normal {
  background-color: #6D6D4E;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Rock {
  background-color: #786824;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Ground {
  background-color: #927D44;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Ice {
  background-color: #638D8D;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Electric {
  background-color: #A1871F;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Fighting {
  background-color: #7D1F1A;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Ghost {
  background-color: #493963;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Psychic {
  background-color: #A13959;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Steel {
  background-color: #787887;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Dark {
  background-color: #49392F;
  max-width: 100%;
  color: white;
  text-align: center;
}

.Fairy {
  background-color: #9B6470;
  max-width: 100%;
  color: white;
  text-align: center;
}